{% extends "Template/base.html.twig" %}

{% block title %}
	Contact 
{% endblock %}


{% block content %}
	<h1>
		Une demande ? Contactez-moi !
	</h1>

	<section id="competences">
		
	</section>
{% endblock %}
